apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-master-config
  namespace: mysql
  annotations:
    argocd.argoproj.io/sync-wave: "0"
data:
  my.cnf: |
    [mysqld]
    server-id=1
    log-bin=mysql-bin
    binlog_format=ROW
    expire_logs_days=7
    max_binlog_size=100M
    sync_binlog=1
    innodb_flush_log_at_trx_commit=1
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci
    [client]
    default-character-set=utf8mb4
